
.DS_Store
build
.git
*.egg-info
dist
output/
data/custom/images
data/custom/labels
data/test
data/samples
backup
weights/*.weights
weights/*.conv.*
__pycache__
checkpoints/

.vscode/
logs/

.python-version
